.col {
  flex: 1 0 0%;
  padding: $col-padding;
}


@for $i from 1 through 12 {
  .col-#{$i} {
    flex: 0 0 (8.33333333% * $i);
    max-width: (8.33333333% * $i);
    padding: $col-padding;
    width: (8.33333333% * $i);
  }
  .offset-#{$i} {
    margin-left: (8.33333333% * $i);
  }
}

@for $i from 1 through 12 {
  @include col-breakpoints($i);
}
