// 1 - TEQ-CONTAINER

/* Padding Teq-container */
$padding-container: $gutter;
$padding-container-mobile: #{calc($gutter / 2)};

// 2 - MAX-W
$max-w-padding: 0 #{calc($gutter * 2)};
$max-w-padding-lg: 0 $margin-container - $gutter;

// 3 - TEQ-ROW

/* Row */
$teq-row-gutter: -#{$padding-container};
$teq-row-gutter-mobile: -#{$padding-container-mobile};

/* Row inside a col */
$teq-row-gutter-for-col: -#{calc($gutter / 2)};

// 4 - COL
$col-padding: 0 #{calc($gutter / 2)};