$align: (
        left: left,
        center: center,
        right: right,
);

@each $a, $k in $align {
  .text-#{$a} {
    text-align: $k;
  }
}

@each $a, $k in $align {
  @include align-breakpoints($a, $k);
}

