@mixin margin-breakpoints($words, $abbr, $i) {
    @each $key, $val in $breaks {
        @include teq-breakpoint($val) {
            .m#{$abbr}-#{$key}-#{$i}, div[class^="col-"].m#{$abbr}-#{$key}-#{$i} {
                margin-#{$words}: calc(#{$margin} * #{$i});
            }
        }
    }
}

@mixin mx() {
    @for $i from 0 through 24 {
        .mx-#{$i}, div[class^=col-].mx-#{$i} {
            margin-left: calc(#{$margin} * #{$i});
            margin-right: calc(#{$margin} * #{$i});
        }
    }
}

@mixin mx-breakpoints($i) {
    @each $key, $val in $breaks {
        @include teq-breakpoint($val) {
            .mx-#{$key}-#{$i} {
                margin-left: calc(#{$margin} * #{$i});
                margin-right: calc(#{$margin} * #{$i});
            }
        }
    }
}

@mixin my() {
    @for $i from 0 through 24 {
        .my-#{$i}, div[class^=col-].my-#{$i} {
            margin-bottom: calc(#{$margin} * #{$i});
            margin-top: calc(#{$margin} * #{$i});
        }
    }
}

@mixin my-breakpoints($i) {
    @each $key, $val in $breaks {
        @include teq-breakpoint($val) {
            .my-#{$key}-#{$i} {
                margin-bottom: calc(#{$margin} * #{$i});
                margin-top: calc(#{$margin} * #{$i});
            }
        }
    }
}

@mixin margin-auto($words, $abbr) {
  .m#{$abbr}-auto {
      margin-#{$words}: auto;
  }
}